<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
 <footer>
    This is asp.net core 3.0 blog engine
</footer>
</body>

</html>
