@page "/"
@model UBlog.Pages.IndexModel
@inject IBlogPostRepository blogPostRepository

@{
    var blogPosts = blogPostRepository.GetAll();
}


<h1 class="title">Latest</h1>
<hr />
@foreach (var post in blogPosts)
{
    <div class="card">
        <div class="card-content">
            <p class="title is-5">
                @post.Title
            </p>
            <p class="subtitle is-6">
                @post.Author @post.DateTime.ToShortDateString()
            </p>
        </div>
    </div>
}
